<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888254487309-u8qflbq2to0m76nk9okjn5plbrm50s2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888254487309-u8qflbq2to0m76nk9okjn5plbrm50s2d</string>
	<key>API_KEY</key>
	<string>AIzaSyD9UIUbJg0eaWGWogikWVTCRGgIjyQ7Bcg</string>
	<key>GCM_SENDER_ID</key>
	<string>888254487309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NewsPointApp</string>
	<key>PROJECT_ID</key>
	<string>newspointapp-7b51c</string>
	<key>STORAGE_BUCKET</key>
	<string>newspointapp-7b51c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888254487309:ios:92389fecafe2f07fb8ee44</string>
</dict>
</plist>